# R/RStudio
.Rhistory
.RData

# Python/VSCode
__pycache__
.vscode

# WinMerge
*.bak

# normally data is stored in compressed form in releases
# in this case it is small enough to skip that step
data/*
!data/marktwain.txt
